{% extends 'news/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}
<hr>
{% block content %}
<h3>{{ time_now|date:'d M Y' }}</h3>
<h2> Количество постов {{ news|length}}</h2>
<hr>
{% if news %}
<table style="margin-left: auto; margin-right: auto;">
  <tr>
      <td style="width: 200px;"><u>Заголовок</u></td>
      <td style="width: 200px;"><u>Дата публикации</u></td>
      <td style="width: 200px;"><u>Содержание</u></td>
  </tr>
  {% for new in news %}
  <tr>
      <td style="width: 200px;">{{ new.title|censor }}</td>
      <td style="width: 200px;">{{ new.dateCreation|date:'d M Y' }}</td>
      <td style="width: 200px;">{{ new.text|censor|truncatechars:20}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h3>Публикаций нет!</h3>
{% endif %}
{% endblock content %}
